.app-bar-container {
  .white-icon {
    stroke: white;
  }

  .nav-box {
    background-color: #6993ff;
  }

  .search-box {
    background-color: rgba($color: white, $alpha: 0.08);
    border: none;
    &::placeholder {
      color: #c7f3e6;
      font-weight: 300;
    }
  }

  .button-create-account {
    background-color: white;
    color: #464e5f;
    font-weight: 600;
    border-radius: 6px !important;
    border: none;
    font-size: 14px;
  }
}

.hidden {
  display: none;
}


