.app-bar-container {
  .white-icon {
    stroke: white;
  }

  .nav-box {
    background-color: #6993ff;
  }

  .button-create-account {
    background-color: white;
    color: #464e5f;
    font-weight: 600;
    border-radius: 6px !important;
    border: none;
    font-size: 14px;
  }
}

.hidden {
  display: none;
}
